{% extends 'mailing_app/base.html' %}
{% load static %}

{% block content  %}
<div class="row mb-4">
    <div class="col-md-12">
        <a href="{% url 'mailing_app:client_create' %}" class="btn btn-primary">Добавить нового клиента</a>
    </div>
</div>

<div class="row">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text"><strong>{{ object.full_name }}</strong></p>
                <p class="card-text"><strong>Email:</strong> {{ object.email }}</p>
                {% if object.user %}
                <p class="card-text"><strong>Создан пользователем:</strong> {{ object.user }}</p>
                {% endif %}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'mailing_app:client_detail' object.id %}"
                           class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        {% if user.is_authenticated and user.is_superuser or user == object.user %}
                        <a href="{% url 'mailing_app:client_update' object.id %}"
                           class="btn btn-sm btn-outline-secondary">Изменить</a>
                        <a href="{% url 'mailing_app:client_delete' object.id %}"
                           class="btn btn-sm btn-outline-secondary">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}